header {
  background: transparent;
  margin-top: 0;
  padding: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo, .logo b {
  font-weight: 800;
  font-style: italic;
  font-family: 'Merriweather Sans', sans-serif;
}

.logo b {
  color: #FF7A00;
}

.log-in, .sign-up, .border-btn, .admin-btn {
  border-radius: 100rem;
  padding: .5rem 1.5rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.log-in {
  margin-right: 1rem;
  background: black;
  border-color: black;
  color: white;
  transition: 200ms ease-in-out;
}

.border-btn {
  background: transparent;
  border: 2px black solid;
  transition: 300ms;
}

.border-btn:hover {
  background: black;
  color: white;
}

.admin-btn {
  border: none;
  margin-right: 1rem;
  background: transparent;
}

header a {
  text-decoration: none;
  color: black;
}