.hero {
  display: flex;
  padding: 1rem 6rem;
  align-items: center;
}

.hero-img {
  width: 30rem;
}

.text {
  padding: 0 3rem 0 0;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

.hero-buttons button {
  padding: 1rem 2rem;
  margin-right: 1.5rem;
  text-transform: uppercase;
  border-radius: 100rem;
  font-family: 'Montserrat';
  font-weight: 700;
}